{% extends "global/base.html" %}

{% block content %}
<div class="form-wrapper">
    
    <h2>Create Contact</h2>
    
    <form
    action="{% url "contact:create" %}"
    method="POST"
    enctype="multipart/form-data"
    >

    {% csrf_token %}

    <div class="form-content">
        <div class="form-group">
            <label for="id_first_name">First name</label>
                <input type="text" name="first_name" maxlength="255" id="id_first_name">
            <label for="id_first_name">Last name</label>
                <input type="text" name="last_name" maxlength="255" id="id_last_name">
        </div>
    </div>

    <div class="form-content">
        <div class="form-group">
            <button type="submit" class="btn">Send</button>
        </div>
    </div>
    </form>
</div>
{% endblock content %}